<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyConnection" connectionString="data source=DESKTOP-9ROIE47\SQLEXPRESS;initial catalog=Railway_db;integrated security=True;Trusted_Connection=True;"/>
	</connectionStrings>
	<appSettings>
		<add key ="InsertQuery" value="insert into login_table (UserName,Password,Category,Email) values (@username,@password,@category,@email);"/>
		<add key ="InsertInUser" value="insert into user_table (Id,Name,Email,Contact_number) values (@Id,@username,@email,@Contact_number);"/>
		<add key ="AddTrain" value="Insert into train_table(Train_Number, Train_Name, Train_Type) values (@TrainNum, @TrainName, @TrainType);"/>
		<add key ="ModifyTrainNumber" value="update train_table set Train_Number = @NewTrainNumber WHERE Train_Number = @OldTrainNumber"/>
		<add key ="ModifyTrainName" value="update train_table set Train_Name = @NewTrainName WHERE Train_Number = @OldTrainNumber"/>
		<add key ="ModifyTrainType" value="update train_table set Train_Type = @NewTrainType WHERE Train_Number = @OldTrainNumber"/>
		<add key ="DeleteTrain" value="update train_table set Status = 'Retired' where Train_Number = @TrainNumber"/>
		<add key ="AddBerthDetails" value ="INSERT INTO BerthDetails_table (TrainInstanceNo, class, NumberOfAvailableBerth, SeatLimit, AvailableSeats)VALUES (@InstanceId,@_class,@NaB,@SL,@As);"/>
		<add key ="AddPriceDetails" value ="insert into TrainInstancePriceDetails(TrainInstanceId,class,Price) values (@Instance,@_class,@price);"/>
		<add key ="ShowAllTrainSchedules" value ="SELECT TrainInstanceId, TrainNo, _From, _To, Timings, DateOfDeparture, Status from train_Schedule_Details ORDER BY Status, TrainInstanceId;"/>
		<add key="ShowAllTrains" value="SELECT Train_Number, Train_Name, Train_Type, Status FROM train_table ORDER BY Status, Train_Number" />
		<add key="ShowAllTrainsActiveOnly" value="SELECT TrainInstanceId, TrainNo, _From, _To, Timings, DateOfDeparture from train_Schedule_Details where status = 'Active' ORDER BY Status, TrainInstanceId;" />


	</appSettings>
</configuration>